
h2 {
  color: white;
  text-decoration: dotted 3px overline underline;
}

body {
  background-color: #FFCDD1;
}

img:hover {
  width: 500px;
  
}

h2:hover {
  font-size: 300%;
  text-transform: uppercase;
  text-decoration: wavy underline cyan;
}

